@import "../../../sass/mixins";

.category {
  margin-top: 1.5rem;

  .title {
    background-color: var(--primary-color);
    display: inline-block;
    color: #fff;
    padding: 0.25rem 0.75rem;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
  }
}

.topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  width: 80%;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .replies {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    font-size: 0.95rem;

    svg {
      width: 1.25rem;
    }
  }

  .left {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
  }

  .letter {
    align-self: flex-start;
    background-color: #cdd6fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }

  .body {
    .h4 {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }

      svg {
        width: 1.25rem;
        display: inline-block;
        margin-right: 0.25rem;
      }
    }

    .author {
      font-size: 0.9rem;

      a {
        color: var(--secondary-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .reply {
      margin-top: 0.25rem;
      font-size: 0.9rem;
      color: #777;

      a {
        color: var(--secondary-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
