@import "../../../sass/mixins";

.form {
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  form {
    & > div {
      margin-bottom: 1rem;

      label {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.25rem;
      }
    }

    button {
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 2px;

      &:hover {
        background-color: darken($color: #0040ff, $amount: 20);
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}
